@media screen and (max-width: 1600px){
	.introcontainer {margin:0; left:0;}
	.screen{
		width: 100%!important;
	}
	.screencontent .question{
		width: 96%!important;
		padding: 0 2%!important;
	}
	

	.screen.result .generalcontent p{
		padding: 0 10px!important;

	}
	.button.consult.fix p{
		padding: 0!important;
	}
	/*.generalcontent p{
			font-size: 16px;
	}*/

	.container{padding-bottom:0;}
	.manpos {width:62%}
	
}
@media screen and (max-width: 1240px){
	.insuline_tekst{font-size:20px; width:50%;}

}

@media screen and (max-width: 850px){
	.top-wrap {min-height:auto;}
	.greybox{ padding: 10px;}

	/*.questioncontainer {height:auto; margin-bottom:2%;}*/
	/*.container {height:auto;}
	.boxed{overflow:auto;}*/
	.man {position:relative;}
	.manpos {width:320px}
	.insuline_tekst{width:80%;}
	.intro-footer img {max-width:20%; height:auto;} .choicelist li.choice input[type="radio"] + label span, .choicelist li.choice input[type="checkbox"] + label span { width:45px; height:45px;}
	.questions {width:100%}

	
	a.to_left, a.to_right{
		width: 45%;
	}
	
	input[type="submit"] {font-size:18px !important;}
	.choicelist li{ display: inline-block; }
	
	.halfcol_l, .halfcol_r{
		width: 100%;
		float: none;
		clear:both;
	}
	
	body {
		font-size:14px;}
	/*h2{font-size: 25px;}
	h1{font-size: 30px;}
	*/

}

@media screen and (max-width: 480px){

}